@import 'reset.css';

.edit-link {
  margin-left: 15px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
}
